html {
  height: 100px;
  position: absolute;
}
body {
  background-color: #0e0e10;
}

.App {
  text-align: center;
  background-color: #f7b267;
}

.logo-container {
  height: 50vh;
  margin-bottom: 100px;
}

.scene-container {
  height: 300px;
  width: 300px;
  border: solid white 5px;
}
.home_text {
  color: white;
}

@media only screen and (max-width: 500px) {
  .home_container {
    margin-top: 100px;
    height: 100vh;
    width: 100%;
    background-color: #0e0e10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "IBM Plex Mono", monospace;
  }

  .name-card {
    height: 120px;
    background-color: #2b2d2f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    border-radius: 10%;
    /*border: solid 2px;*/
    box-shadow: 0px 0px 10px cyan;
  }
  .name {
    color: white;
    margin: 10px;
  }

  .codeblock {
    margin: 20px;
    border: solid 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px cyan;
    text-align: left;
  }

  /*.home-background-carpet {
    background-color: #36454f;
    width: 80%;‚
    height: 500px;
  */
}
