html {
  height: 100px;
  position: absolute;
}
body {
  background-color: #0e0e10;
}

.App {
  text-align: center;
}

.logo-container {
  height: 50vh;
  margin-bottom: 100px;
}

.scene-container {
  height: 300px;
  width: 300px;
  border: solid white 5px;
}
.home_text {
  color: white;
}

@media only screen and (max-width: 500px) {
  @keyframes cardBouncing {
    from {
      transform: rotate3d(0, 0, 5, 0deg);
      transform-origin: center;
      animation-timing-function: ease-in-out;
    }

    to {
      transform: rotate3d(5, 30, 50, 1deg);
      transform-origin: center;
      animation-timing-function: ease-in-out;
    }
  }

  @keyframes easinRight {
    from {
      transform: translate3d(0, 0, 0);
      transform-origin: center;
      animation-timing-function: ease-in-out;
    }

    to {
      transform: translate3d(500px, 0, 0);
      transform-origin: center;
      animation-timing-function: ease-in-out;
    }
  }

  @keyframes easinLeft {
    from {
      transform: translate3d(0, 0, 0);
      transform-origin: center;
      animation-timing-function: ease-in-out;
    }

    to {
      transform: translate3d(-500px, 0, 0);
      transform-origin: center;
      animation-timing-function: ease-in-out;
    }
  }

  .home_container {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    background-color: #0e0e10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 20px;
  }

  .name-card {
    height: 120px;
    background-color: #2b2d2f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    border-radius: 10%;
    border: solid 2px cyan;
    box-shadow: 0px 0px 10px cyan;
  }
  .name {
    color: white;
    margin: 10px;
    text-align: left;
    box-shadow: 0px 0px 10px cyan;
    border: solid 2px cyan;
    border-radius: 10px;
    margin: 10px;
    background-color: #282a36;
    animation: 2s easinLeft;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
  }

  .name h1 {
    margin: 20px;
  }

  .codeblock {
    margin: 20px;
    border: solid 2px cyan;
    border-radius: 7px;
    box-shadow: 0px 0px 10px cyan;
    text-align: left;
  }

  .second-container {
    height: 100%;
    width: 100%;
    background-color: #212121;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 80px;
  }

  .second-container h1 {
    color: white;
  }

  .helloWorld {
    background-color: #282a36;
    width: 20em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border: solid #6272a4 2px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #6272a4;
    animation: 8s easinRight;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
  }

  .second-text {
    color: white;
    background-color: #282a36;
    margin: 10px;
    border: solid #6272a4 2px;
    box-shadow: 0px 0px 15px #6272a4;
    border-radius: 20px;
  }

  .second-text h2 {
    margin: 15px;
  }
  .second-text h3 {
    color: #50fa7b;
  }
  .second-name {
    color: #ff79c6;
  }

  .thirdPage-container {
    height: 100vh;
    width: 100%;
    background-color: #0e0e10;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .third-header {
    background-color: #282a36;
    font-family: "IBM Plex Mono", monospace;
    width: 20em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border: solid #ff79c6 2px;
    border-radius: 20px;
    box-shadow: 5px 10px 15px #ff79c6;
  }
}

/*.home-background-carpet {
    background-color: #36454f;
    width: 80%;‚
    height: 500px;
  */
